---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';

const pageTitle = "A propos de moi";

const identity = {
	firstName: "Vincent",
	country: "France",
	occupation: "Développeur web fullstack",
	hobbies: ["informatique", "sport", "esport" ],
};

const skills = ["HTML", "CSS", "Javascript", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<style is:global define:vars={{skillColor, fontWeight, textCase}}>
	.skill {
		color: var(--skillColor);
		font-weight: var(--fontWeight) ;
		text-transform: var(--textCase);
	}

</style>

            <BaseLayout pageTitle={pageTitle}>
            <h2>... et de mon nouveau site Astro !</h2>
          
            <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>
          
            <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>

			<p>Voici quelques faits me concernant : </p>
			<ul>
				<li>Je m'appelle {identity.firstName}</li>
				<li>Je vis en {identity.country} et je travaille en tant que {identity.occupation}</li>
				{identity.hobbies.length >= 2 &&
				<li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
				}
			</ul>
			<p>voici mes compétences :</p>
			<ul>
				{skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>

			{happy && <p>Je suis heureux d'apprendre Astro ! </p>}
			{finished && <p>J'ai terminé ce tutoriel</p>}
			{goal === 3 ? <p>Mon objectif est de terminer en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours</p>}
			</BaseLayout>
			<script>
				import '../scripts/menu.js'
			</script>
